<%= form_for(@notice, :html => { :class=>"form-horizontal well", :multipart => true }) do |f| %>
  <% if @notice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notice.errors.count, "error") %> prohibited this notice from being saved:</h2>

      <ul>
      <% @notice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="control-group">
      <div class="control-label">
        <%= f.label :tipo %>
      </div>
      <div class="controls">
        <%= f.select( :tipo , [
                ["Noticia", 1],
                ["Portada", 2]
        ]) %>
      </div>
    </div>

  <div class="control-group">
    <div class="control-label">
        <%= f.label :titulo %>
    </div>
    <div class="controls">
        <%= f.text_field :titulo, :class => "span5" %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
        <%= f.label :subtitulo %>
    </div>
    <div class="controls">
        <%= f.text_field :subtitulo, :class => "span5" %>
    </div>
  </div>

  <div class="control-group">
    <div class="control-label">
        <%= f.label :resumen %>
    </div>
    <div class="controls">
        <%= f.text_area :resumen, :rows => "5", :class => "span5" %>
    </div>
  </div>

  <div class="control-group">
      <div class="control-label">
        <%= f.label :noticia_imagen %>
      </div>
      <div class="controls">
        <%= f.file_field :nimage %>
      </div>
  </div>

  <div class="control-group">
      <div class="control-label">
        <%= f.label :portada_imagen %>
      </div>
      <div class="controls">
        <%= f.file_field :pimage %>
      </div>
  </div>

  <div class="control-group">
    <div class="control-label">
        <%= f.label :contenido %>
    </div>
    <div class="controls">
        <%= f.cktext_area :contenido, :toolbar => 'Full', :width => 800, :height => 500 %>
    </div>
  </div>


   <div class="control-group">
     <div class="controls">
       <label class="checkbox">
         <%= f.check_box :ver %> Visible en Pagina
       </label>
     </div>
   </div>


  <div class="control-group">
    <div class="form-actions">
        <%= f.submit :class => "btn" %>
    </div>
  </div>

<% end %>
