<p>
  <b>Portada:</b>
  <%= @notice.portada %>
</p>

<p>
  <b>Pimage:</b>
  <%= image_tag @notice.pimage_url.to_s %>
</p>

<p>
  <b>Presumen:</b>
  <%= @notice.presumen %>
</p>

<p>
  <b>Fecha:</b>
  <%= @notice.fecha %>
</p>

<p>
  <b>Autor:</b>
  <%= @notice.autor %>
</p>
