
<div class="container" >
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <% primer = 0 %>
    <% @pnotices.each do |pnotice| %>
        <div class="item <% if primer == 0 %> active <% end %> ">
          <%= image_tag pnotice.pimage_url(:mini).to_s, :class => "img-rounded" %>
          <div class="carousel-caption">
            <h4><a href="/inicios/noticia/<%= pnotice.id %>"><%= pnotice.titulo %></a></h4>
            <p><%= pnotice.resumen %></p>
          </div>
        </div>
        <% primer = primer + 1 %>
    <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
</div><!-- End Container -->


<div class="container">
    <div class="row">

      <!-- span3 -->
      <div class="span3">
        <%= render "shared/slide_menu" %>
      </div><!-- end span3 -->


      <!-- span9 -->
      <div class="span9">

          <!-- Comunicados -->
            <div class="page-header">
              <h1>Ultimos <a href="/inicios/comunicados">Comunicados</a></h1>
            </div>
            <table class="table table-striped table-bordered">
              <tr>
                <th>#id</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Acciones</th>
              </tr>
              <% @comunicados.each do |comunicado| %>
              <tr>
                <td><%= comunicado.id %></td>
                <td><a href="#"><i class="icon-file"></i> <%= comunicado.titulo %></a></td>
                <td><%= comunicado.fecha %></td>
                <td><a href="<%= comunicado.carchivo %>" class="btn" target="_blank" ><i class="icon-download-alt"></i> Descarga</a></td>
              </tr>
              <% end %>
            </table>
          <!-- End Comunicados-->

          <!-- Titulo Notice -->
          <div class="row">
            <div class="span5">
              <h1>Ultimas <a href="/inicios/noticias">Noticias</a></h1>    
            </div>
            <div class="span4">              
            </div>            
          </div>
          <hr><!-- End TituloNotice -->



          <ul class="media-list">
          <% @notices.each do |notice| %>
              <li class="media">
                <div class="media-body">
                  <h2 class="media-heading">
                    <%= image_tag "glyphicons_045_calendar.png" %>
                    <a href="/inicios/noticia/<%= notice.id %>"><%= notice.titulo %></a>                    
                    <small><%= notice.created_at %></small>
                  </h2>
                  <p class="lead"><%= notice.resumen %></p>
                  <p><%= image_tag notice.nimage_url(:mini).to_s, :class => "img-polaroid" %></p>                  
                </div>
              </li>
              <hr>
          <% end %>
          </ul>

          <!-- Pagination -->
          <div class="pagination-right">
            <%= will_paginate @notices, :renderer => BootstrapPagination::Rails %>
          </div>
          <!-- End Pagination -->

      </div><!-- end span9 -->
    </div><!-- End Row -->
</div><!-- End Container --> 